@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/******************
 *TEXTOS*
******************/ 
.title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    position: relative;
}

span{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    position: relative;
}

.h2{
    text-align: center;
}

h3{
    text-align: justify;
}

/******************
 *Productos*
******************/
#details{
    margin-top: 120px;
}
.h2{
    margin-top: 20px;
    font-size: 1.5rem;
}

.details-info{
    align-items: center;
    margin-top: 5px;
}

.imgp1{
    display: block;
    width: 70%;
    height: 550px; 
}

/*********************
Tabla de contenidos
*********************/
  

/******************
 *Botones*
******************/
.cta{
    margin-top: 10px;
    width: 150px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 10px;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;
}

.cta:hover{
    color: rgb(255, 247, 0);
}

.cta1{
    width: 150px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-left: 45%;
}

.cta1:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

/*********************
Footer
********************/
footer{
    background: #000000;
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
    margin-top: 200px;
}

.p1{
    font-size: 10px;
}

.footera{
    text-decoration: none;
    color: white;
}

/*********************
 *Responsivo*
********************/
@media screen and (max-width: 768px){
    .imgp{
        width: 100%;
        height: 370px; 
        display: block;
    }
}

@media screen and (max-width: 576px){
    .imgp{
        width: 92%;
        height: 300px; 
    }
}
    
@media screen and (max-width: 480px){
    .imgp{
        width: 90%;
        height: 450px; 
        margin-left: 20px;
        display: block;
    }
    .cta1{
        margin-left: 35%;
    }
    .table{
        width: 100% !important;
    }
    .imgp1{
        width: 100%;
        height: 500px; 
        display: block;
    }
    .table1{
        width: 20% !important;
        height: 350px !important;
    }
}
    
