@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

/******************
 *TEXTOS*
******************/ 
.title{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    position: relative;
}

span{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    position: relative;
}

/******************
 *Productos*
******************/
#details{
    margin-top: 120px;
}
.h2{
    margin-top: 20px;
    font-size: 1.5rem;
}

.details-info{
    align-items: center;
    margin-top: 1rem;
}

.details-img{
    display: block;
    margin-top: 120px;
    width: 80%;
    border-radius: 20px;
}

.imgp{
    width: 80%;
    height: 550px; 
    border-radius: 20px;
    border: 2px solid #000;
}

/*********************
Tabla de contenidos
*********************/

/******************
 *Botones*
******************/
.cta{
    margin-top: 10px;
    width: 150px;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    font-size: 1.1rem;
    text-align: center;
    text-decoration: none;

}

.cta1{
    width: 150px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-left: 45%;
}

.cta1:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

/*********************
Footer
********************/
footer{
    background: #000000;
    text-align: center;
    color: white;
    position: absolute;
    width: 100%;
}

.p1{
    font-size: 10px;
}

.footera{
    text-decoration: none;
    color: white;
}

/*********************
 *Responsivo*
********************/
@media screen and (max-width: 768px){
    .details-img{
        width: 100%;
    }
    .imgp{
        width: 100%;
        height: 300px; 
    }
}

@media screen and (max-width: 576px){
    .details-img{
        width: 100%;
    }
    .imgp{
        width: 100%;
        height: 300px; 
    }
}
    
@media screen and (max-width: 480px){
    .details-img{
        width: 100%;
    }
    .imgp{
        width: 65%;
        height: 350px; 
        margin-left: 15%;
    }
}
    
