@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,400&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/***********************
Textos
***********************/

h1{
    color: #000;
    margin-top: 400px;
    padding: 180;
}

.h1{
    color: rgb(0, 0, 0);
    text-align: center;
}


.nosotros{
    margin-top: 250px;
}

/*********************
Slider
*********************/
.slider{
    width: 90%;
    margin: auto;
    margin-top: 35px;
    overflow: hidden;
    align-items: center;
}

.slider ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite;
}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 50%;
}
/**********************
Destacados
***********************/
h1{
    text-align: center;
}
.cta1{
    width: 90px;
    display: inline-block;
    background: white;
    padding: 10px 0;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-decoration: none;
    color: black;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

.cta1:hover{
    color: white;
    background: black;
}



/***********************
formulario
***********************/

.form{
    background-color: black;
    width: 90%;
    max-width: 400px;
    color: white;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto;
    margin-top: 40px;
}
.form_container{
    width: 90%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form_title{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}
.form_input{
    font-size: 1rem;
    padding: .4rem 1em;
    outline: none;
    border: none;
    border: 1px solid rgb(0, 140, 255);
    border-radius: 0.2em;
}

.form_input--message{
    resize:none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
    border: 1px solid rgb(0, 140, 255);
}

.form_input{
    font-family: inherit;
}

.form_cta{
    font-family: inherit;
    background-color: grey;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    font-weight: 600;
}

/******************
Ubicacion
******************/
.ubicacion{
    font-size: 30px;
    font-weight: bold;
}

/*******************
fOOTER
*******************/
footer{
    background: #000000;
    text-align: center;
    color: white;
}

.p1{
    font-size: 10px;
}

.footera{
    text-decoration: none;
    color: white;
}

/*************
Keyframes
************/
@keyframes cambio{
    0%{
        margin-left: 0;
    }
    20%{
        margin-left: 0;
    }
    35%{
        margin-left: -100%;
    }
    50%{
        margin-left: -100%;
    }
    65%{
        margin-left: -200%;
    }
    70%{
        margin-left: -200%;
    }
    85%{
        margin-left: -300%;
    }
    90%{
        margin-left: -300%;
    }

}

/******************
Diseño Responsive
******************/


@media screen and (max-width:480px) {
    .form{
        padding: 3.5em 1em;
    }

    .slider{
        margin-top: 100px;
    }
    .slider img{
        width: 80%;
    }

    .iframe{
        width: 200px;
        height: 200px;
    }
    .card{
        display: block !important;
    }
    .imgp{
        display: block !important;
        width: 100%;
    }
}

@media screen and(max-width:640px) {
    .card{
        display: block !important; 
    }
    .imgp{
        display: block !important;
        width: 100%;
    }
}